:root {
    --bs-primary: #FF00AA;
    --bs-primary-rgb: 255, 0, 170;

}

body {
    font-family: "Manrope", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.tlacitko {
    background: #ff00aa;
    text-decoration: none;
    color: white;
    padding: 9px;
    border-radius: 6px;
    margin-top: 10px;
    display: inline-block;
}

.tlacitecko {
     background: #ff00aa;
    text-decoration: none;
    color: white;
    padding: 9px;
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 30px;
    display: inline-block;
    font-size: 22px;
}

.tlacitko:hover {
    background: rgb(255, 193, 234);
    color: rgb(255, 0, 170);
}

.tlacitecko:hover {
    background: rgb(255, 193, 234);
    color: rgb(255, 0, 170);
}

.nadpis {
    margin-bottom: 50px;
    margin-top: 50px;
}

.paticka {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.haha {
    color: rgb(255, 0, 170);
    margin-top: 50px;
}

.banner {
    background-image: url(../images/cici.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 75px;     
}

.banner-zvirata {
        background-image: url(../images/cici.jpg);
}
.banner-homepage {
    background-image: url(../images/banner-homepage.jpg);
}

.banner-nadpis {
    font-size: 30px;
}
.banner-text {
    font-size: 45px;
    font-weight: 700;
}

.cau {
    font-size: 30px;
}

.ahoj {
    font-size: 45px;
    font-weight: 700;
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.banner > * {
  position: relative;
  z-index: 1;
}

.bannirek {
    background-image: url(../images/bannirek.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 670px;
    padding-left: 10%; 
    padding-top: 15%;
    margin-bottom: 75px;
}

.bannirek::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.bannirek > * {
  position: relative;
  z-index: 1;
}

.bannerek {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 670px;
    padding-left: 10%; 
    padding-top: 20%;
    margin-bottom: 80px;
}

.bannerek::before {
    content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.bannerek {
    position: relative;
  z-index: 1;
}

.auto {
    color: rgb(255, 0, 170);
    font-weight: 700;
    font-size: 120px;
}

.kolo {
    color: rgb(255, 0, 170);
    font-weight: 500;
    font-size: 90px;
}

.textik {
    color: rgb(255, 0, 170);
    padding: 50px 0;
}

.texticek {
    color: rgb(255, 0, 170);
    padding-top: 15px;
    padding-bottom: 20px;
}

.texticek1 {
    color: rgb(102, 156, 242);
    padding-top: 15px;
    padding-bottom: 20px;
}

.cena i {
    padding-left: 5px;
    padding-top: 10px;
}

.jo i {
    padding-left: 5px;
    padding-top: 10px;
}

.jo a {
    padding-left: 5px;
    text-decoration: none;
    color: #FF00AA;
}

.jo p {
    padding-bottom: 20px;
}

.pozadi {
    background-color: #fff0fb;
    padding: 20px;
}

.cena {
    padding-bottom: 40px;
 }

.cena p {
    border: solid #FF00AA 2px;
    padding: 10px ;
    border-radius: 5px;
}

.ramecek {
    border: solid #FF00AA 2px;
    padding: 10px ;
    border-radius: 5px;
    margin-bottom: 80px;
    margin-top: 15px;
}

.nevimmm {
    display: flex;
    justify-content: center;
    text-align: center;
}

.karticka h4 {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}

.karticka p {
    display: flex;
    justify-content: flex-start;
}

.accordion-button:not(.collapsed) {
  background-color: rgb(255, 0, 170, 0.3);
  color: black;
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 170, 0.6);
}

.nehet {
    font-weight: 700;
    font-size: 70px;
}

.ruka {
    font-weight: 400;
    font-size: 50px;
}

.napdisecek {
    font-size: 20px;
    margin-left: 50px;
}

.texticecek {
    font-size: 20px;
    margin-left: 50px;
}

.texticecek1 {
    margin-top: 20px;
}

.podnadpisek {
    padding-bottom: 10px;
}

.podnadpisecek {
    margin-top: 30px;
}

.anone {
    border: solid #00ff04 5px;
    padding: 10px ;
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.anone i {
    color: #00b003;
}

.neano {
    border: solid #ff2626 5px;
    padding: 10px ;
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.neano i {
    color: #b60000;
}

.banner-homepage {
    background-image: url(../images/kocinecka.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;    
}

.banner-homepage::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.banner-homepage > * {
  position: relative;
  z-index: 1;
}

.banner-homepage-text {
   font-size: 30px;
}

.banner-homepage-nadpis {
   font-size: 50px;
   font-weight: 800;
}

.container-homepage {
    background-color: rgba(0, 0, 0, 0.4);
    border: 0px solid;
    padding: 20px;
}

.text-o-nas {
    font-size: 18px;
    color: #FF00AA;
    margin-top: 50px;
}

.homepage-card {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(255, 193, 234);
    border: 5px solid #ff00aa;
}

.card-nadpis {
    font-size: 50px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-podnadpis {
    font-size: 20px;
    padding-bottom: 20px;
}

.card-text {
    font-weight: 400;
}

.odznaky p {
    font-size: 25px;
    font-weight: 400;
}

.odznaky {
    margin-bottom: 30px;
}

.reference {
    background-color:rgb(255, 193, 234);
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .auto {
        font-size: 60px;
    }

    .kolo {
        font-size: 45px;
    }

    .nehet {
        font-size: 45px;
    }

    .ruka {
        font-size: 30px;
    }

    .anone {
        margin-bottom: 25px;
    }

    .neano {
        margin-top: 25px;
    }

    .banner-homepage-text {
        font-size: 20px;
    }

    .banner-homepage-nadpis {
        font-size: 30px;
    }
}

@media (min-width: 768px) {
     .cena {
       display: flex;
       justify-content: center;
       gap: 20px;
    }

    .container-homepage {
        margin-top: 200px;
    }
}
