*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Manrope", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.card {
    margin-top: 50px;
}

.tlacitko {
    background: rgb(255, 0, 170);
    text-decoration: none;
    color: white;
    padding: 9px;
    border-radius: 6px;
    margin-top: 10px;
    display: inline-block;
}

.tlacitko:hover {
    background: rgb(255, 193, 234);
    color: rgb(255, 0, 170);
}

.nadpis {
    margin-bottom: 50px;
    margin-top: 20px;
}

.row {
    padding-bottom: 30px;
}

.paticka {
    display: flex;
    justify-content: center;
}

.haha {
    color: rgb(255, 0, 170);
    margin-top: 50px;
}

.banner {
    background-image: url(../images/cici.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;     
}

.cau {
    font-size: 30px;
    color: rgb(255, 0, 170);
}

.ahoj {
    font-size: 45px;
    font-weight: 700;
    color: rgb(255, 0, 170);
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  margin-top: 63px;
}

.banner > * {
  position: relative;
  z-index: 1;
}